<section id="hire">
    <h1>< Write ></h1>
    <form action="/write_process" method="POST">
        <div class="field name-box">
            <input type="text" name="title" placeholder="Write title here"/>
            <label for="title">Title</label>
            <span class="ss-icon">check</span>
        </div>
        <div class="field msg-box">
            <textarea name="content" rows="1" placeholder="Message goes here"/></textarea>
            <label for="content">Content</label>
            <span class="ss-icon">check</span>
        </div>
        <br>
        <input class="button" type="submit" value="Send" />
    </form>
</section>